* {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  height: 100%;
  background-color: black;
  color: white;
}

#ConsentFrame {
	background-color: white;
	color: white;
}

#Probe {
  padding: 0in;
  font-size: 50pt;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  position: fixed;
  margin: -100px 0 0 -150px;
  border: 0px;
  height: 100px;
  width: 300px;
  z-index: 0;
}